<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

<h1>
    Welcome to {{title}}!!
</h1>

<h4    [hidden] = "ex">
    {{ex0}}
</h4>

<nav   [hidden] = "ex">
  {{ex1}}
</nav>

<nav   [hidden] = "ex">
  {{ex2}}
</nav>

<nav   [hidden] = "ex">
  {{ex3}}
</nav>

<nav   [hidden] = "ex">
  {{ex4}}
</nav>

<div>
<h2 [hidden]="ended">Quiz Ended </h2>
<img width="400" src="http://www.christchurch.esussex.dbprimary.com/esussex/primary/christchurch/web/maths2-big[1].png">
</div>

<div [hidden] = "options" >
  <h3> Please select Easy, Medium or Hard and which symbols before the start button.</h3>
  <h3> Or select to see the Scoreboard instead.</h3>
<button class="btn btn-success"(click)="diff1()">Easy</button>
<button class="btn btn-warning"(click)="diff2()">Medium</button>
<button class="btn btn-danger"(click)="diff3()">hard</button>
    <h2> You have chosen:{{pick1}} </h2>

<button (click) = "arr1()"class = "btn btn-success">Only   +,-  </button>
<button (click) = "arr2()"class="btn btn-danger" > All   +,-,*,/  </button>
    <h2> You have chosen: {{pick2}}</h2>
</div>

<h2 [hidden] = "noScore">score = {{score}} </h2>
  <h2>  </h2>
  <h2>  </h2>
<h2 [hidden] = "noTimer">{{timestring}} </h2>

<h1> {{questions[p]}}</h1>

  <div [hidden] = "ans">
<label> Answer:</label>
<input [(ngModel)]="usersInput" type ="opt" (keypress)="keypress($event)" placeholder="Answer" >
<button class="btn btn-success" id = "button"(click)="Click()" >Submit</button>
  </div>

  <div [hidden] = "data">
    <h3> please enter your Class and Name</h3>
    <label> Class:</label>
    <input  [(ngModel)]="class" type ="text"  placeholder="Class" >
    <label> Name:</label>
    <input  [(ngModel)]="name" type ="text"  placeholder="Name" >
    <button class="btn btn-success" (click)="Sub2()" >Submit</button>
  </div>


<div [hidden] = "showScoreboard" class="panel panel-default">
<table class="table">
<thead>
  <th>Class</th>
  <th>Name</th>
  <th>Score</th>
</thead>


<tbody>
  <tr *ngFor="let o of scoreboard">
    <td>
      {{o.class}}
    </td>
    <td>
      {{o.name}}
    </td>
    <td>
      {{o.score}}
    </td>
  </tr>
</tbody>

</table>
</div>

    <h2> </h2>

<div [hidden] = "start">
<button (click)="createTimer()" class="btn btn-success">START</button>
    <h2> </h2>
</div>

<div  [hidden] = "board">
<button class="btn btn-info" (click) = "Scoreboard()">ScoreBoard</button>
</div>

<button [hidden] = "reset"type="button" (click)="refreshPage()">Restart</button>
<!--<p id="demo"></p>-->
